.forgot-password-container {
        border-radius: 20px 20px 0px 0px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        height: 750px;
        width: 100%;
        background-image: url(../assets/slide2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%; /* <-- Key line to prevent zooming */
}

    .forgot-password-modal-content {
        background-color: rgba(255, 255, 255, 0.2);
        margin: 10% auto;
        height: 320px;
        padding: 20px;
        width: 400px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
        animation: fade 0.3s ease-in-out;
        backdrop-filter: blur(8px);
    }

    .forgot-password-modal-content h2 {
        text-align: center;
        color: white;
    }

    .forgot-password-modal-content input {
        width: 95%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .forgot-password-modal-content button {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #000000;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .forgot-password-modal-content button:hover {
        background-color: #0352c9;
    }

    .forgot-password-modal-content p {
        margin-top: 35px;
        color: white;
        text-align: center;
    }

    .forgot-password-modal-content a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
    }

    .forgot-password-modal-content a:hover {
        color: #0352c9;
    }

/* Animation Keyframes */
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .forgot-password-modal-content {
        width: 90%;
        padding: 20px;
    }


}
