.stat-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  gap: 1rem;
}

.stat-icon {
  padding: 10px;
  border-radius: 100%;
  color: white;
}

.stat-label {
  font-size: 0.85rem;
  color: #555;
}

.stat-value {
  font-size: 1.4rem;
  font-weight: bold;
}
.icon-button {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  border: none;
  border-radius: 50px; /* Rounded corners */
  cursor: pointer;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: all 0.3s ease;
}

.icon-button img {
  width: 25px; /* Image size */
  height: 25px;

  color: black;
}

.icon-button:active {
  transform: translateY(1px); /* Slightly lower the button when clicked */
}

.icon-button:focus {
  outline: none;
}
